<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation Portfolio Suite">
  <test name="Login Tests">
    <classes>
      <class name="ctrl.alt.del.github.tests.LoginTest"/>
    </classes>
  </test>
  <!-- You can add more test sections as you expand your portfolio -->
</suite>